.qaCard {
  width: 60%;
  font-size: 20px;
  color: white;
  padding: 1.4vw;
  border-radius: 4px;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider{
  background-color: #efc524;
  border-top: 4px solid #efc524;
  width: 100%;
}


@media screen and (max-width: 1200px) {
  .qaCard {
    width: 100%;
    padding: 5vw; 
  }
}
