.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4.5%;
}

.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  z-index: 99;
  width: auto;
  max-height: 17vh;
}

.navGroup{
  position: fixed;
  background-color: purple;
  width: 90%;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 9%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3vw;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.2);
}

.navGroup a:hover {
  text-decoration: underline;
  text-decoration-color: #efc524;
  text-decoration-thickness: 0.5vh;
  text-underline-offset: 1vh;
}

.navGroup .active {
  color: #efc524;
  text-decoration: underline;
  text-decoration-color: #efc524;
  text-decoration-thickness: 0.5vh;
  text-underline-offset: 1vh;
}

.mobile-only {
  display: none;
  z-index: 100;
}

.mobile-header {
  background-color: purple;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-start;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 2vw;
}

@media screen and (max-width: 800px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .drawer-list {
    width: 250px;
  }
  .logo {
    max-height: 7vh;
  }
}