.homePic {
  width: 100%;
  border-radius:4px;
  margin-bottom: 20px;
}

.homeDesc {
  color: white;
  font-size: 21px;
  text-align: center;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.tixBtn {
  margin-top: 20px;
  background-color: #efc524;
  color: purple;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 27%;
  text-align: center;
  border: rgba(0, 0, 0, 0.5) 1px solid;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}

.tixBtn:hover {
  background-color: rgb(196, 43, 196);
  color: #f3d14a;
}

@media screen and (max-width: 800px) {
  .homePic {
    width: 100%;
  }

  .tixBtn {
    width: 100%;
    text-align: center;
  }
}
