.disclaimer {
  font-size: 18px;
  margin-top: 25px;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  color: #efc524;
  text-decoration: underline;
}

.eventCard {
  background-color: rgba(128, 0, 128, 0.92);
  margin-bottom: 1vh;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 30px;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
}

.eventCard h1 {
  color: #efc524;
  font-size: 28px;
  font-weight: bold;
}

.eventCard p {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.eventCard:nth-of-type(odd) {
  background-image: url("../Images/eventBg.png");
  background-size: contain;
}

.eventCard:nth-of-type(even) {
  background-image: url("../Images/eventBg2.png");
  background-size: cover;
}
.eventCard:nth-of-type(odd):hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../Images/eventBg.png");
}

.eventCard:nth-of-type(even):hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../Images/eventBg2.png");
}
