/* Background & Display Settings */
body {
  background-color: purple;
  background-image: url("./Images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.shader {
  background-color: rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar {
  display: none;
}

/* ****************** */

.titleText {
  color: #efc524;
  font-size: 32px;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.purp {
  background-color: rgba(131, 8, 131, 0.85);
  text-align: center;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
}

.page {
  padding: 5% 5% 5% 5%;
  margin-top: 1%;
  min-height: 100vh;
}

.subPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.pad {
  padding: 3vw;
}

.subPage2 {
  background-color: white;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .shader {
    padding-top: 17%;
  }
}
