.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: purple;
}

body {
  z-index: 100;
  background-image: url("./Images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.shader {
  background-color: rgba(0, 0, 0, 0.7);
}

.page {
  padding: 5% 5% 5% 5%;
  margin-top: 1%;
  min-height: 100vh;
}

.subPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.pad {
  padding: 3vw;
}

.subPage2 {
  background-color: white;
  border-radius: 4px;
}

body::-webkit-scrollbar {
  display: none;
}

.title {
  color: #efc524;
  background-color: rgba(128, 0, 128, 0.92);
  font-size: 30px;
  margin-bottom: 2vh;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
  font-weight: bold;

}

@media screen and (max-width: 1200px) {
  .shader {
    padding-top: 17%;
  }

  .title {
    font-size: 27px;
    margin-bottom: 2vh;
    width: 100%;
  }
}
